@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

*{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 113px 25px 112px;
}